extends layout

block content
  section#mainAboutParagraph
    h1.custom Why Use Eat Now?
    p
      | Have you ever been hanging out with a friend and suddenly got very hungry, but none of you can decide
      br
      | as to where to have dinner? Well, that happens to me all the time. With Eat Now, such a situation would never occur
      br
      | again. Simply enter the types of food you would like to eat, and your location and eat now
      br
      | will decide on a spot for you!

      section#startbtn
        .container
          .row
            ul.nav.nav-pills
              li.nav-item
                a.nav-link.active(href="/search").custom Start

      section#icons
        .container
          .row
            .col-md-12
              ul.list-inline
                a.facebook(href="https://www.facebook.com/JenniferBearLee", style="color: #CBCBCB")
                  li.list-inline-item
                    i.fa.facebook.fa-facebook-square.fa-3x(aria-hidden="true")
                a.linkedIn(href="https://www.linkedin.com/in/jennifer-lee-232268139/", style="color: #CBCBCB")
                  li.list-inline-item
                    i.fa.linkedin.fa-linkedin.fa-3x(aria-hidden="true")
                a.instagram(href="https://www.instagram.com/jenn14108", style="color: #CBCBCB")
                  li.list-inline-item
                    i.fa.instagram.fa-instagram.fa-3x(aria-hidden="true")
                a.github(href="https://github.com/jenn14108", style="color: #CBCBCB")
                  li.list-inline-item
                    i.fa.github.fa-github-square.fa-3x(aria-hidden="true")
