extends layout

block content
  section#mainAboutParagraph
    h1.custom Why Use Eat Now?
    p
      | Have you ever been hanging out with a friend and suddenly got very hungry, but none of you can decide
      br
      | as to where to have dinner? Well, that happens to me all the time. With Eat Now, such a situation would never occur
      br
      | again. Simply enter the types of food you would like to eat, and the distance you are willing to travel and
      br
      | eat now will decide on a spot for you!
  section#icons
    .container
      .row
        .col-md-12
          ul.list-inline
            a(href="www.facebook.com", target="_blank", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.facebook.fa-facebook-square.fa-3x(aria-hidden="true")
            a(href="www.linkedin.com", target="_blank", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.linkedin.fa-linkedin.fa-3x(aria-hidden="true")
            a(href="www.instagram.com", target="_blank", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.instagram.fa-instagram.fa-3x(aria-hidden="true")
            a(href="www.github.com" target="_blank", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.github.fa-github-square.fa-3x(aria-hidden="true")
