extends layout

block content
  section#addRestaurant
    h1.custom.center Add A Restaurant
    p.custom.center
      | Have a restaurant that is not already in our database that you would like
      br
      | to add? Go head - add it below!

  section#newRestaurantForm
    form(method='post' action = 'saveRestaurant')
        label(for='name') Restaurant Name:
        input#name.form-control(for = 'name', type='text',name ='name', placeholder="Enter the restaurant's name")
        br
        |   Location:
        select.form-control.form-control-sm(for = 'location', type='text', name='location', value = location)
          option Boston
          option Cambridge
          option Wellesley
          option Brookline
          option Lexington
          option Worcester
          option Needham
          option Newton
          option Springfield
          option Belmont
          option Somerville
          option Concord
          option Seaport
          option Waltham
          option Westford
          option Melrose
          option Quincy
          option Lynn
          option Newburyport
          option Brockton
          option Weston
          option Malden
          option Andover
          option Woburn
          option Acton
          option Plymouth
          option Beverly
          option Watertown
          option Natick
        br
        |  Type of Food:
        select.form-control.form-control-sm(for = "food_type" , type='text', name='food_type', value=food_type)
          option Asian Fusion
          option American
          option Chinese
          option Japanese
          option Vietnamese
          option Thai
          option Greek
          option Mexican
          option Indian
          option Italian
          option Korean
          option Tapas
        br
        button.btn.btn-primary(type='submit') Submit



  script.
    $(function() {
      });
    });


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
