extends layout

block content
  section#results
    h1.custom Add A Restaurant
    p.custom
      | Have a restaurant that is not already in our database that you would like
      br
      | to add? Go head - add it below! 
