extends layout

block content
  .jumbotron
    h1.custom Login to Eat Now
    p.custom You must have a gmail account to log into Eat Now

    a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Sign In
