extends layout

block content
  section#banner
    .container
      .row
        .col-md-12.text-center
          h1.custom EAT NOW
          img.img-fluid(src='/images/logo.png')
  section#logo
    i.fas.fa-utensils.fa-5x(aria-hidden="true")
  section#intro
    .container
      .row
        .col-md-12
          p Can't decide where to eat? Don't worry - we've got your back!

  section#startbtn
    .container
       ul.nav.nav-pills.nav-center
         li.nav-item
            a.nav-link.active(href="/search").custom Start

  section#buttons
    ul.nav.nav-pills.nav-fill
        li.nav-item
          a.nav-link.active(href="/").custom Home
        .col
        li.nav-item
          a.nav-link.active(href="/todo").custom To-Do
        .col
        li.nav-item
          a.nav-link.active(href="/wishlist").custom Wish List
        .col
        li.nav-item
          a.nav-link.active(href="/signUp").custom Sign Up
