extends layout

block content
  section#banner
    .container
      .row
        .col-md-12.text-center
          h1.custom EAT NOW
          img.img-fluid(src='/images/logo.png')
          ul.nav.nav-pills.nav-fill
            li.nav-item
              a.nav-link.active(href="/signUp").custom Sign Up
  section#intro
    .container
      .row
        .col-md-12
          p Can't decide where to eat? Don't worry - we've got your back!

  section#buttons
    .container
          ul.nav.nav-pills.nav-fill
            li.nav-item
              a.nav-link.active(href="/about").custom About
