extends layout

block content
  section#intro
    .container
      .row
        .col-md-12
          p Can't decide where to eat? Don't worry - we've got your back!

  section#startButton
    nav.nav-pills.nav-fill
      a.nav-link.active(href="/search").custom Start

  section#carousel
    .container
      #bootstrapCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='/images/bbq.jpg')
          .carousel-item
            img.d-block.w-100(src='/images/asian.jpg')
          .carousel-item
            img.d-block.w-100(src='/images/pizza.jpg')
        a.carousel-control-prev(href='#bootstrapCarousel', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#bootstrapCarousel', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

  section#mainAboutParagraph
    h1.custom Why Use Eat Now?
    p
      | Have you ever been hanging out with a friend and suddenly got very hungry, but none of you can decide
      br
      | as to where to have dinner? Well, that happens to me all the time. With Eat Now, such a situation would never occur
      br
      | again. Simply enter the types of food you would like to eat, and your location and eat now
      br
      | will decide on a spot for you!

  section#icons
    .container
      .row
        .col-md-12
          ul.list-inline
            a.linkedIn(href="https://www.linkedin.com/in/jennifer-lee-232268139/", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.linkedin.fa-linkedin.fa-3x(aria-hidden="true")
            a.github(href="https://github.com/jenn14108", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.github.fa-github-square.fa-3x(aria-hidden="true")
