extends layout

block content
  section#results
    h1.custom
      | This is the restaurant we've decided you
      br
      | should go to:
      br
      br
      | #{name}
      br
      | #{location}
