extends layout

block content
  section#results
    h1.custom
      | Eat Now Decision:
      br
      br
      | This is the restaurant we've decided you
      br
      | should go to:
      br
      br
      | #{restaurants.name}
      br
      | #{restaurants.location}
