extends layout

block content
  section#results
    h1.custom
      | This is the restaurant we've decided you
      br
      | should go to:
      br
      br
      | #{name}
      br
      | #{location}

  section#moreOptions
    .container
      .text-center
        a(href=yelpLink)
          img#yelpLogo(src='/images/Yelp_trademark_RGB.png' alt='yelp')
        a(href="https://www.google.com/maps/search/?api=1&query=" + googleQuery)
          img#googleMapsLogo(src='/images/googleMaps.png' alt='google maps')
        a(href="#")
          button.btn.btn-primary#anotherRec.custom
            | I want another
            br
            | suggestion
