extends layout

block content
  section#startInstructions
    .container
      .row
        .col-md-12
          h1.custom You are one step closer to eat now!

  section#directSearch
      form.text-center(method='post' action="yelpFindRestaurant")
        #searchForm
          .row
            .col-md-12
              label.custom Type of Food:
              input#term(type="text" name="term" placeholder='e.g. Chinese')
          .row
            .col-md-12
            #searchFormsecondRow
              label.custom Location:
              input#location(type="text" name="location" placeholder='City, State')
              button.btn.btn-primary#go(type="submit" value="submit").custom Go!
