extends layout

block content
  section#aboutSignUp
    h1.custom Sign Up

    ul
      each i in info
        li #{i.email}

    p.custom
      | Sign up to save your past searches and previously visited restaurants.
      br
    form(method='post' action = 'saveUserInfo')
      .form-group
        label(for='email') Email
        input#email.form-control(type='text',name='email', placeholder='Enter email')
      .form-group
        label(for='username') Username
        input#username.form-control(type='text', name='username', placeholder='Username')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password', name='password', placeholder='Password')
      div
      button.btn.btn-primary(type='submit') Submit

    #signedUp
      p.custom Already have an account?
      button.btn.btn-primary(type='Log In') Log In
